html, body {
	height: 100%;
	width: 100%;
}

body {
	background-image: url('../images/BotW_Link_Rider_Artwork-min.webp');
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	background-position: center center;
}

.font-thin {
	font-family: "Titillium Web", sans-serif;
	font-weight: 200;
}

.font-semibold {
	font-family: "Titillium Web", sans-serif;
	font-weight: 600;
}

.font-light {
	font-family: "Titillium Web", sans-serif;
	font-weight: 300;
}

.slide {
	background-color: rgba(85, 85, 85, 0.6);
	backdrop-filter: blur(2px);
	background-position: center center;
	background-repeat: no-repeat;
	text-align: center;
	border-radius:1rem;
	margin: auto;
}

.avatar {
	width: 6rem;
	margin-bottom: 2rem;
	margin-top: -3rem;
	text-align: center;
	border: medium red;
	border-radius: 100%;
	border-width: 1rem;
}

#icons {
	margin:0 auto;
}

.content-cell ,.content-cell a{
	color: #ffffff;
	text-decoration:blink;
	text-align: center;
}

.content-cell i {
	font-size: 3rem;
}

.content-cell h2 {
	font-size: 1rem;
	font-weight: 500;
	padding-bottom: 3rem;
}

.content-cell:hover {
	color: #ffffff;
	opacity:1;
	text-shadow: 0 0 0.5rem #ccc;
}
