html, body {
	height: 100%;
	width: 100%;
}

body {
	/* background-color: #050510; */
	/* font-family: "Titillium Web", sans-serif; */
	/* font-weight: normal; */
	/* overflow-x: hidden; */
	/* -webkit-font-smoothing: antialiased !important; */

	background-image: url('../images/ZeldaBotW_thanks_A_1920_1080.jpg');
	/* color: #ffffff; */
    /* -webkit-background-size: 100%; */
    /* -moz-background-size: 100%; */
    /* -o-background-size: 100%; */
    /* background-size: 100%; */

    /* -webkit-background-size: cover; */
    /* -moz-background-size: cover; */
    /* -o-background-size: cover; */
    /* background-size: cover; */
    /* width: 100%; */
	display: flex;
	align-items: center;
	justify-content: center;
	background-position: center center;
}

.font-thin {
	font-family: "Titillium Web", sans-serif;
	font-weight: 200;
}

.font-semibold {
	font-family: "Titillium Web", sans-serif;
	font-weight: 600;
}

.font-light {
	font-family: "Titillium Web", sans-serif;
	font-weight: 300;
}

.slide {
	background-position: center center;
	background-repeat: no-repeat;
	padding-bottom: 30px;
	padding-top: 30px;
	text-align: center;
}

.avatar {
	width: 110px;
	/* margin: 0 auto; */
	margin-bottom: -55px;
	text-align: center;
	border-radius: 100%;
	box-shadow: 0 0 3px rgba(170, 170, 170, 0.5);
}

#icons {
	background-color: rgba(85, 85, 85, 0.8);
	/* background: inherit; */
	/* -webkit-filter: blur(5px); */
	/* -moz-filter: blur(5px); */
	/* -ms-filter: blur(5px); */
	/* -o-filter: blur(5px); */
	/* filter: blur(5px); */
	/* opacity: 0.8; */
	border-radius:10px;
	/* text-align: center; */
	margin:0 auto;
}

.content-row {
	padding-top: 70px;
}	

.content-cell ,.content-cell a{
	color: #ffffff;
	text-decoration:blink;
	text-align: center;
}

.content-cell i {
	font-size: 40px;
}

.content-cell h2 {
	font-size: 16px;
	padding-bottom: 40px;
}

.content-cell:hover {
	color: #ffffff;
	opacity:1;
	text-shadow: 0 0 8px #ccc;
}
